### Gabs em Jupyter

Gabs, vamos estudar análises com Pandas, Numpy, Matplotlib e Seaborn?

Eu não sou expert em nada disso (e você vai notar minha pouca aptidão por meio dos termos que uso), mas me viro bem. Por isso, vou fazer alguns notebooks para explicar conceitos das bibliotecas, modos de uso, boas práticas etc. Espero que aproveite.

Eu separei esses notebooks em 'Análise' (em que estudaremos Pandas e Numpy) e 'Visualização de dados' (em que estudaremos Matplotlib e Seaborn).

Vamos começar com 'Análise de dados'.

---
**Pandas**

Pandas é uma biblioteca de ferramentas para análises. Isso significa que, com Pandas, você pode, por exemplo:

- agrupar ou segregar dados tabulados em colunas de tipos diferentes (por exemplo: tabela com nome de empresa (`string`), CNPJ (`string` se tiver símbolos gráficos; `integer` se for só números), logradouro (`string`), número (`integer`), valor de despesa (`float`));
- manipular dados unidimensionais (uma coluna), que são chamados `Series`:

In [1]:
import pandas as pd
serie = pd.Series([-12, 3, 25, -4], index=['a', 'b', 'c', 'd'])

In [2]:
serie

a   -12
b     3
c    25
d    -4
dtype: int64

- manipular dados bidimensionais (coluna e linha), que são chamados de `DataFrame`:

In [3]:
# Como os dados estão sem configuração de DataFrame:
sem_df = {
'Nome': ['Anna Virginia', 'Ivan', 'Aline'],
'Estado de nascimento': ['Rio de Janeiro', 'São Paulo', 'Rio Grande do Sul'],
'Nota no coração da Gabs': [9.3, 8.8, 9.1]}
sem_df

{'Estado de nascimento': ['Rio de Janeiro', 'São Paulo', 'Rio Grande do Sul'],
 'Nome': ['Anna Virginia', 'Ivan', 'Aline'],
 'Nota no coração da Gabs': [9.3, 8.8, 9.1]}

In [4]:
# Como os dados ficam como DataFrame:
df = pd.DataFrame(sem_df, columns=['Nome','Estado de nascimento','Nota no coração da Gabs'])
df

            Nome Estado de nascimento  Nota no coração da Gabs
0  Anna Virginia       Rio de Janeiro                      9.3
1           Ivan            São Paulo                      8.8
2          Aline    Rio Grande do Sul                      9.1

- obter estatísticas de uma coleção de dados, como média (`mean`), desvio-padrão (`std`), percentis (`25%`, `50%` e `75%`), valor mínimo (`min`) e valor máximo (`max`):

In [5]:
df['Nota no coração da Gabs'].describe()

count    3.000000
mean     9.066667
std      0.251661
min      8.800000
25%      8.950000
50%      9.100000
75%      9.200000
max      9.300000
Name: Nota no coração da Gabs, dtype: float64

- e muitas outras coisas!

_Para instalar:_

Se você usar Anaconda, Pandas já vem no pacote. Se não, no prompt de comando digite:
```
pip install pandas
```

---
**Numpy**

Numpy é uma biblioteca de oferece diversas funções e operações matemáticas.

Para explicar melhor: temos recipientes (`Series`, `DataFrame`, dicionários etc.) e, neles, colocamos objetos (no caso de números, `float` e `integer`). Numpy permite trabalhar melhor os objetos dentro dos recipientes. Como, por exemplo, transformar `float` em `integer`:

In [6]:
# Quais são os tipos de objetos dentro da coluna 'Nota no coração da Gabs':
df['Nota no coração da Gabs'].dtype

dtype('float64')

In [7]:
# São são os tipos dos mesmos objetos depois de manipulados com Numpy:
df['Nota no coração da Gabs'] = df['Nota no coração da Gabs'].astype(int)
df['Nota no coração da Gabs'].dtype

dtype('int32')

Viu só? Os números não mais são `float`, e sim `integer`. 

E como será que estão na nossa tabela?

In [8]:
df

            Nome Estado de nascimento  Nota no coração da Gabs
0  Anna Virginia       Rio de Janeiro                        9
1           Ivan            São Paulo                        8
2          Aline    Rio Grande do Sul                        9

_Para instalar:_

Se você usar Anaconda, Numpy já vem no pacote. Se não, no prompt de comando digite:

`pip install pandas`

---
Nos próximos notebooks vamos estudar ambas as ferramentas de maneira prática: fazendo uma análise. Logo aviso quais bases vamos usar e disponibilizo aqui. Se tiver alguma sugestão, me avise.

O primeiro notebook (`nb01_pandas.ipynb`) sai amanhã, 6 de março.

Beijos.